*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: linear-gradient(to bottom right,#0c1118,#9db0ca);
    color: azure;
    display: block;
    justify-content:center ;
ul{
margin: 0px 20px;
padding-bottom: 25px;
display: flex;
justify-content: center;
}
}
.header-logo{
    font-family: 'russo one', sans-serif;
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin: 0 ;
    h1 a :hover{
        color: inherit;
    }
}


a{color: azure;
text-decoration: none;
}


.ul-header{
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 2px;
li a{
    display: block;
    padding: 10px 10px;
    background: #7d8a9d;
    color: aliceblue;
    border-radius: 10%;
    font-family: 'russo one', sans-serif;
}
li a:hover{
    background-color:rgb(143, 134, 122) ;
}
}

.main-fondo{
    background-image: url(../img/pexels-victor-freitas-2261477.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.banner-h2{
    background-color: #78818e;
    opacity: 80%;
    width: 100%;
    text-align: center;
    border-radius: 1%;
}

.empeza-entrenar{
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 8vh;

}

.store{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20% 20% 20%;
    column-gap: 20px;
    row-gap: 110px;
    margin-top: 40px;
}

.img1{
 width: 60%
}

p{
  font-size: 2vh ;
}

.footer-container{
    height: 115px;
    background-color: #979ea9;
    display: flex;
    align-items: center;
    justify-content: center;
ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 0 5px;
    text-align: center;
    justify-content: center;
        & a{
    display: block;
    padding: 0 10px;
    background: #78818e;
    color: aliceblue;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 2px 2px 0px black;
    border-radius: 10%;
}}
}

.redes{
    ul{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}}


@media screen and (min-width:1000px) {
    .header {
        display: flex;
        justify-content: space-around;
    }
    .ul-header{
        align-content: space-around;
        width: 70vh;
        li {
            display: flex;
            justify-items: space-evenly;
            font-size: 3vh;
            margin-top: 10px;
    }
}
    .footer-container{
        .redes{
            width: 30%;   
        & li{
            width: auto;
            height: auto;
        }
        }
    }}



.store-bg{
    width: 100%;
    height: auto;
    background-image: url(../img/storebg.avif);
    background-color: rgb(207, 187, 163);
    background-size: contain;
    background-position:center;
    filter: grayscale(30%);
    background-repeat: repeat-y;
}

.title-store{
    font-family: 'russo one', sans-serif;
    color: azure;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 0 ;
}

.container1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: auto;
    text-align: center;
}



.producto-descripcion{
    background-color: rgba(155, 162, 171, 0.7);
    color: azure;
}

.product-name{
    background-color: rgba(155, 162, 171, 0.7);
    font-weight: bold;
    color: azure;
}

body{
    width: 100%;
    height: auto;
}

@media screen and (max-width:477px) {
    .store{
        width: 100%;
        height:auto ;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 5px;
        row-gap: 10px;
        margin-top: 40px;
        overflow: scroll;
    }
    .title-store{
        text-align: center;
        background-color: rgba(155, 162, 171, 0.7);
    }
    .footer-container
        .redes{
            width: 80%;   
        & li{
            width: auto;
            height: auto;
        }
    }
}


.fondo {
    background-color: #7d8a9d;
    display: flex;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 4vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.titulo-parrafo{
    text-decoration-line: underline;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.img1-ej{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img2-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img3-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img4-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img5-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img6-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img7-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img8-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.img9-ej{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
  margin-bottom: 10px;
}

.ejercicios-main{
    margin-left: 6vh;
    margin-right: 6vh;
    display: grid;
    grid-template-columns: 90vh;
    grid-template-rows: auto;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom right,#9eaabb,#97b0d4)
}

.h2-ej{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'russo one', sans-serif;
    color: azure;
    font-size: 2em;
    background-color: hsl(215, 9%, 51%, 0.5);
    width:fit-content;
    border-radius: 3px;
}

@media screen and (max-width: 870px){
    .ejercicios-main{
        display: block;
        margin-left: 2vh;
        margin-right: 2vh;
        & .parrafo-ej {
            width: 90%;
            font-size: 1em;
        }
    }
}

.main-planes{
    display: grid;
    grid-template-columns: 1 70%;
        
        & .plan1 {
        grid-column: 1;
        grid-row: 2;
        font-size: smaller;
        justify-self: center;
        font-family: 'russo one', sans-serif;
            .img1-planes{
                width: 20vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                grid-column: 1;
                grid-row: 3;
            }
    }
    & .plan2{
        grid-column: 1;
        grid-row: 4;
        font-size: smaller;
        justify-self: center;
        font-family: 'russo one', sans-serif;
        .img2-planes{
            width: 20vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
            grid-column: 1;
            grid-row: 5;
            justify-self: center;
        }
    }
}

.h2-planes{
    display: flex;
    justify-content: center;
    font-family: 'russo one', sans-serif;
}



@media screen and (min-width: 800px) {
    .h2-planes{
       display: flex;
       justify-content: center;
       font-family: 'russo one', sans-serif;
    }


    .main-planes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        & .plan1{
            grid-area: 1 / 1 / 2 / 2; 
            font-family: 'russo one', sans-serif;
            .img1-planes{
                width: 40vh;
                height: auto;
            }
        }
        & .plan2{
            grid-area: 1 / 2 / 2 / 3;
            font-family: 'russo one', sans-serif;
            .img2-planes{
                width: 40vh;
                height: auto;
            }
        }
    }
}

.h2-rut{
     display: flex;
     justify-content: space-around;
     font-family: 'russo one', sans-serif;
     font-size: 3vw;
     background-color: #78818e;
     color: aliceblue;
    }

.main-rutina{
    background-color: #78818e;
    display: block;
    & img { display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;}
}