h1{
    font-family: 'russo one', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background: linear-gradient(to bottom right,#0c1118,#9db0ca);
    color: azure;
}

a{color: azure;
text-decoration: none;
}


.ul-header :not(h1){
list-style-type: none;
display: flex;
flex-flow: column;
align-items: center;
}

.fondo-main{
    background-image:url(./img/pexels-victor-freitas-2261477.jpg);
    background-size:cover;
    width: 100%;
    height: 50vh;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.empeza-entrenar{
    background-color: #78818e;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 8vh;
    opacity: 80%;
}

.store{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% 50% 50%;
}

.img1{
 width: 60%
}

p{
  font-size: 2vh ;
}

.footer{
    background: linear-gradient(to bottom right,#9db0ca,#0c1118);
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.footer h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

